.expertise{

    &__block{
        text-align: center;
        padding-top: 70px;
        padding-bottom: 100px;
    }

    &__title{
        font-size: 22px;
        color: #413d4b;
        @include playfair-bold;
        letter-spacing: .5px;
        margin-bottom: 15px;
    }

    &__desc{
        font-size: 14px;
        color: #2f2d35;
        letter-spacing: .75px;
        @include playfair-regular;
        opacity: .75;
        margin-bottom: 47px;

        &:after{
            content: "";
            display: block;
            height: 2px;
            width: 50px;
            background-color: #c6c4c9;
            margin: 18px auto 0;
        }
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item{
            width: 33.33333%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 20px 42px;

            &:nth-last-child(-n+3){
                border-top: 1px solid #ebebeb;
            }

            &:nth-child(2),
            &:nth-child(5){
                border-left: 1px solid #ebebeb;
                border-right: 1px solid #ebebeb;
            }
        }

        &-img{
            margin-bottom: 35px;
            height: 50px;

        }

        &-title{
            font-size: 14px;
            color: #413d4b;
            letter-spacing: .5px;
            @include roboto-black;
            margin-bottom: 20px;
        }

        &-text{
            font-size: 14px;
            color: #333333;
            opacity: .75px;
            letter-spacing: .5px;
            line-height: 22px;
            @include roboto-light;
        }
    }
}