.team{
    background: url(../img/team-bg.jpg) center / cover no-repeat;

    &__block{
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &__title{
        font-size: 22px;
        color: #fff;
        @include playfair-bold;
        letter-spacing: .5px;
        margin-bottom: 15px;
    }

    &__desc{
        font-size: 14px;
        color: #f9f9f9;
        letter-spacing: .75px;
        @include playfair-regular;
        margin-bottom: 47px;

        &:after{
            content: "";
            display: block;
            height: 2px;
            width: 50px;
            background-color: #fff;
            margin: 18px auto 0;
            opacity: .20;
        }
    }

    &__row{
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 70px;

       &-info{
           padding: 20px 0; 
           border: 1px solid #77758b;
       }
       
       &-title{
           font-size: 14px;
           color: #fff;
           letter-spacing: .5px;
           @include roboto-black;
           margin-bottom: 10px; 
       }

       &-text{
           @include roboto-light;
           font-size: 13px;
           color: #fafafa;
           opacity: .7;
       }
    }

    &__text{
        font-size: 14px;
        letter-spacing: .5px;
        color: #f3f3f3;
        @include roboto-light;
        margin-bottom: 26px;
    }
}