* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 0.8;
}

img {
    display: block;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

button {
    padding: 0;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    background-color: transparent;
    color: #00e0d0;
    border: 1px solid #00e0d0;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 12px 15px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn:hover {
    border: 1px solid #fff;
    color: #fff;
}

header {
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 1px;
}

.menu__list-item {
    margin-left: 20px;
}

.menu__link {
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.menu__link:hover {
    color: #00e0d0;
}

.header__text-row {
    text-align: center;
    color: #fff;
    padding-top: 155px;
    padding-bottom: 207px;
    position: relative;
}

.header__text-item {
    max-width: 800px;
    margin: 0 auto;
}

.header__text-title {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.header__text-title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 21px auto 30px;
}

.header__text-desc {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.header__text .owl-theme .owl-dots .owl-dot {
    outline: none;
}

.header__text .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    width: 10px;
    height: 10px;
    border: 1px solid #bab9bc;
    margin: 0;
    margin-right: 5px;
}

.header__text .owl-theme .owl-dots .owl-dot.active span {
    background-color: #00e0d0;
}

.header__text .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #fff;
}

.header__text .owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0;
    position: absolute;
    bottom: 70px;
    right: 0;
    left: 0;
}

.story__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.story__block {
    max-width: 530px;
}

.story__block-title {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #413d4b;
    margin-bottom: 28px;
}

.story__block-text {
    font-size: 14px;
    color: #413d4b;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
    opacity: .75;
    margin-bottom: 33px;
}

.story__block-first {
    margin-bottom: 15px;
}

.story__block-btn:hover {
    border-color: #00e0d0;
    background-color: #00e0d0;
}

.video {
    background-image: url(../img/video-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}

.video__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.video__btn {
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 35px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.video__btn:hover {
    background-color: #00e0d0;
}

.video__text {
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    color: #fff;
    letter-spacing: .5px;
}

.expertise__block {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.expertise__title {
    font-size: 22px;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

.expertise__desc {
    font-size: 14px;
    color: #2f2d35;
    letter-spacing: .75px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    opacity: .75;
    margin-bottom: 47px;
}

.expertise__desc:after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #c6c4c9;
    margin: 18px auto 0;
}

.expertise__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.expertise__row-item {
    width: 33.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 32px 20px 42px;
}

.expertise__row-item:nth-last-child(-n+3) {
    border-top: 1px solid #ebebeb;
}

.expertise__row-item:nth-child(2), .expertise__row-item:nth-child(5) {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.expertise__row-img {
    margin-bottom: 35px;
    height: 50px;
}

.expertise__row-title {
    font-size: 14px;
    color: #413d4b;
    letter-spacing: .5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

.expertise__row-text {
    font-size: 14px;
    color: #333333;
    opacity: .75px;
    letter-spacing: .5px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.team {
    background: url(../img/team-bg.jpg) center/cover no-repeat;
}

.team__block {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.team__title {
    font-size: 22px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

.team__desc {
    font-size: 14px;
    color: #f9f9f9;
    letter-spacing: .75px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 47px;
}

.team__desc:after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #fff;
    margin: 18px auto 0;
    opacity: .20;
}

.team__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 70px;
}

.team__row-info {
    padding: 20px 0;
    border: 1px solid #77758b;
}

.team__row-title {
    font-size: 14px;
    color: #fff;
    letter-spacing: .5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
}

.team__row-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #fafafa;
    opacity: .7;
}

.team__text {
    font-size: 14px;
    letter-spacing: .5px;
    color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 26px;
}

.works__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 70px 0;
}

.works__title {
    font-size: 22px;
    letter-spacing: .5px;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.works__link {
    font-size: 14px;
    opacity: .5;
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.works__link:after {
    content: url(../img/works-bracket.png);
    width: 8px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.works__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.works__row-item {
    width: 16.66667%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.works__row-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.works__bottom {
    text-align: center;
    padding: 70px 0;
}

.works__bottom-btn:hover {
    border-color: #00e0d0;
    background-color: #00e0d0;
}

.reviews {
    background: url(../img/reviews-bg.jpg) center/cover no-repeat;
}

.reviews__block {
    padding: 70px 0;
    text-align: center;
    color: #fff;
}

.reviews__block-item {
    max-width: 768px;
    margin: 0 auto 45px;
}

.reviews__block-quote {
    font-size: 16px;
    letter-spacing: .25px;
    line-height: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 55px;
}

.reviews__block-quote:before {
    content: "";
    display: block;
    width: 32px;
    height: 26px;
    background: url(../img/reviews-quotes.png) center/cover no-repeat;
    margin: 0 auto 45px;
}

.reviews__block-person {
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    margin-bottom: 5px;
}

.reviews__block-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    opacity: .7;
}

.reviews__block .owl-nav {
    position: absolute;
}

.reviews__block .owl-nav button.owl-prev {
    position: absolute;
    left: 290px;
    background-image: url(../img/reviews-nav-back.png);
    width: 11px;
    height: 21px;
    background-size: cover;
    outline: none;
}

.reviews__block .owl-nav button.owl-prev:hover {
    background: none;
    background-image: url(../img/reviews-nav-back.png);
}

.reviews__block .owl-nav button.owl-next {
    position: absolute;
    right: -650px;
    background-image: url(../img/reviews-nav-forward.png);
    width: 11px;
    height: 21px;
    background-size: cover;
    outline: none;
}

.reviews__block .owl-nav button.owl-next:hover {
    background: none;
    background-image: url(../img/reviews-nav-forward.png);
}

.reviews__thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.reviews__thumbs-item {
    cursor: pointer;
    margin: 0 8px;
}

.reviews__thumbs-item.active {
    -webkit-transform: scale(1.56);
    -ms-transform: scale(1.56);
    transform: scale(1.56);
}

.reviews__thumbs-img {
    border-radius: 50%;
    width: 45px;
}
