* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 0.8;
}

img {
    display: block;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

button {
    padding: 0;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    background-color: transparent;
    color: #00e0d0;
    border: 1px solid #00e0d0;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 12px 15px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn:hover {
    border: 1px solid #fff;
    color: #fff;
}

header {
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 1px;
}

.menu__list-item {
    margin-left: 20px;
}

.menu__link {
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.menu__link:hover {
    color: #00e0d0;
}

.header__text-row {
    text-align: center;
    color: #fff;
    padding-top: 155px;
    padding-bottom: 207px;
    position: relative;
}

.header__text-item {
    max-width: 800px;
    margin: 0 auto;
}

.header__text-title {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.header__text-title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 21px auto 30px;
}

.header__text-desc {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent;
    width: 10px;
    height: 10px;
    border: 1px solid #bab9bc;
    margin: 0;
    margin-right: 5px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #00e0d0;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #fff;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0;
    position: absolute;
    bottom: 70px;
    right: 0;
    left: 0;
}

.story__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.story__block {
    max-width: 530px;
}

.story__block-title {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #413d4b;
    margin-bottom: 28px;
}

.story__block-text {
    font-size: 14px;
    color: #413d4b;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
    opacity: .75;
    margin-bottom: 33px;
}

.story__block-first {
    margin-bottom: 15px;
}

.story__block-btn:hover {
    border-color: #00e0d0;
    background-color: #00e0d0;
}

.video {
    background-image: url(../img/video-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
}

.video__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.video__btn {
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 35px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.video__btn:hover {
    background-color: #00e0d0;
}

.video__text {
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    color: #fff;
    letter-spacing: .5px;
}

.expertise__block {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.expertise__title {
    font-size: 22px;
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

.expertise__desc {
    font-size: 14px;
    color: #2f2d35;
    letter-spacing: .75px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    opacity: .75px;
    margin-bottom: 47px;
}

.expertise__desc:after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #c6c4c9;
    margin: 18px auto 0;
}

.expertise__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.expertise__row-item {
    width: 33.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 32px 20px 42px;
}

.expertise__row-item:nth-last-child(-n+3) {
    border-top: 1px solid #ebebeb;
}

.expertise__row-item:nth-child(2), .expertise__row-item:nth-child(5) {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.expertise__row-img {
    margin-bottom: 35px;
    height: 50px;
}

.expertise__row-title {
    font-size: 14px;
    color: #413d4b;
    letter-spacing: .5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

.expertise__row-text {
    font-size: 14px;
    color: #333333;
    opacity: .75px;
    letter-spacing: .5px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
